.wr
{
	float: center;
    width: 940px;
    margin:0 auto;
    padding:0 10px;
}
.wr ul {
list-style: none;
margin-top: 2%;
}
.wr ul li{
	background: black;
	width: 170px;
	border: 1px solid #0d6dea;
	height:50px;
	text-align:center;
	float:right;
	color:#fff;
	font-size: 16px;
	position:relative;
	font-family:big john;
}
.wr ul li:hover{
	background:crimson;
}
.wr ul ul {
	display: none;
}
.wr ul li:hover > ul{
	display: none;
}
.wr ul ul ul{
	margin-left: 170px;
	top: 0;
	position: absolute;
}
